body {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0 200px;
}

h2 {
    font-size: 24px;
    color: #f9faf8;
}

h1 {
    margin: 0;
    font-size: 48px;
}

ul {
    list-style-type: none;
}

.link, .subtext {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.right-links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.content {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    gap: 64px;
    padding: 150px 200px;
    margin: 0;
}

.content-image {
    width: 600px;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    padding: 8px 32px;
}

.cards-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 64px;
}

.second-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 64px;
    margin-bottom: 150px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 160px;
}

.image {
    width: 150px;
    height: 150px;
    border: 5px solid #3882f6;
    border-radius: 16px;
}

.card-text {
    color: grey;
}

.quote-section {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 150px 550px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-author {
    color: #1f2937;
    font-size: 24px;
    font-weight: bolder;
    margin-left: auto;
}

.sign-up-section {
    background-color:#3882f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 200px;
    padding: 40px 100px;
    border-radius: 12px;
}

.sign-up {
    border: 2px solid #e5e7eb;
    flex-grow: 0;
}