body {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2973;
    padding: 0 300px;
}

h2 {
    font-size: 24px;
    color: #f9faf8;
}

h1 {
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.right-links {
    display: flex;
    align-items: center;
    gap: 24px;
}

.content {
    background-color: #1f2973;
    margin: 0;
}